{% extends 'base.html' %}
{% load my_tags %}

{% block content %}
    View count: {{ view_count }}
    {% for post in posts %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
            {{ post.body|safe }}
        </p>
        <a href="#" class="card-link">Read-more</a>
        <a href="#" class="card-link">{{ post.owner.username }}</a>
        <div>
            Tags:
            {% for tag in post.tags.all %}
                <span class="badge badge-success">{{ tag.name }}</span>
            {% endfor %}
        </div>
      </div>
    </div>
    <br>
    {% endfor %}

{% endblock %}